@keyframes ngreen {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: scale(1) translate(-151px,350px); 
        width: calc(var(--base-game-mastil) / 5);
        background-size: 420px;
        height: 45px;
    }
}

@keyframes nred {
    0%{

        transform: translateY(0);
    }
    100%{
        transform: scale(1) translate(-89px,350px); 
        width: calc(var(--base-game-mastil) / 5);
        background-size: 420px;
        background-position-x: -85px;
        height: 45px;
    }
}


@keyframes nyellow {
    0%{

        transform: translateY(0);
    }
    100%{
        transform: scale(1) translate(-15px,350px); 
        width: calc(var(--base-game-mastil) / 5);
        background-size: 420px;
        background-position-x: -174px;
        height: 45px;
    }
}

@keyframes nblue {
    0%{

        transform: translateY(0);
    }
    100%{
        transform: scale(1) translate(47px,350px); 
        width: calc(var(--base-game-mastil) / 5);
        background-size: 420px;
        background-position-x: -253px;
        height: 45px;
    }
}

@keyframes norange {
    0%{

        transform: translateY(0);
    }
    100%{
        transform: scale(1) translate(110px,350px); 
        width: calc(var(--base-game-mastil) / 5);
        background-size: 420px;
        background-position-x: -338px;
        height: 45px;
    }
}


@keyframes neck {
    0%{
        background-position-y: 0px;
    }
    100%{
        background-position-y: 505px;
    }
}